# Arquivos de ajuda
HELP.md

# Maven
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/
backend/.gitattributes
backend/.mvn/
backend/mvnw
backend/mvnw.cmd


# application
uploads

# STS
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache


# Terraform
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/.terraform.lock.hcl  # opcional, mas pode ser versionado (explico abaixo)


# Env
.env

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

# VS Code
.vscode/
